@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
  url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal; 
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
  url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
  url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --basic-dark: #EEEEEE;
  --basic-white: #FFFFFF;

  --social-button: #E1E1E1;
  --accent: #FB565A;
  --accent-hover: #E74246;
  --accent-press: #D7373B;
  --app: #00CA74;
  --app-hover: #00BC6C;
  --app-press: #00AA62;
  --pres: #EFC849;
  --pres-hover: #EAB534;
  --pres-press: #E5A722;
  --filter-button-hover: #DFDFDF;
  --filter-button-press: #D5D5D5;
  
  --browser: #4D4D4D;

  --text-dark: #000000;
  --text: #283136;
  --text-light: #666666;
  --text-discount: #444444;
} 

/* Global */

.page-body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--text);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.active-page {
  border-bottom: 2px solid var(--accent);
  padding-bottom: 5px;
}

/* Grid */

.page {
  height: 100%;
}



/* main-navigation */

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header {
  padding-top: 50px;
  background-color: var(--basic-dark);
}

.main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--basic-dark);
}

.main-header-logo {
  height: 65px;
  width: 160px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 440px;
  justify-content: space-between;

  list-style: none;
  padding: 0;
}

.site-navigation a,
.main-navigation a {
  color: var(--text-dark);
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.site-navigation a:hover,
.site-navigation a:focus,
.main-navigation a:hover,
.main-navigation a:focus {
  color: var(--accent);
}

.site-navigation a:active,
.main-navigation a:active {
  color: var(--text-dark);
  opacity: 0.3;
}

.basket a {
  position: relative;
  padding-left: 40px;
}

.basket a::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background: url(../img/basket.svg) no-repeat;
  top: 2px;
  left: 0;
}

/* Slider */

.features {
  background-color: var(--basic-dark);
  margin-bottom: 80px;
}

.features .container {
  position: relative;
}

.features-list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item {
  height: 430px;
}

.feature-item:nth-child(1) {
  background: url("../img/slide1.png") 760px 430px no-repeat;
  background-position: center right;
}

.feature-item:nth-child(2) {
  background: url("../img/slide2.png") 760px 430px no-repeat;
  background-position: center right;
}

.feature-item:nth-child(3) {
  background: url("../img/slide3.png") 760px 430px no-repeat;
  background-position: center right;
}

.feature-item p:nth-child(1) {
  color: var(--text-dark);
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;

  margin-top: 0;
  margin-bottom: 25px;
  padding-top: 80px;
}

.feature-item p:nth-child(2) {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
}

.slider-controls {
  position: absolute;
  bottom: 95px;
  left: 50%;
  z-index: 10;
  display: flex;
  width: 88px;
  justify-content: space-between;
}

.slider-controls button {
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border-radius: 50%;
  border: none;
  padding: 0;
  cursor: pointer;
}

.slider-controls .current {
  box-shadow: 
  inset 0 0 0 5px #FFFFFF,
  inset 0 0 0 7px #C1C1C1;
}

.feature-slide {
  display: none;
}

.slide-current {
  display: block;
}

/* Services */

.services {
  border-bottom: 2px solid #EEEEEE;
  box-sizing: border-box;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 425px;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-item {
  padding-right: 40px;
}

.service-item:nth-child(1) {
  background: url("../img/service-web.png") no-repeat;
  background-position: left top;
}

.service-item:nth-child(2) {
  background: url("../img/service-app.png") no-repeat;
  background-position: left top;
}

.service-item:nth-child(3) {
  background: url("../img/service-pres.png") no-repeat;
  background-position: left top;
  margin-right: 40px;
}

.service-item h3 {
  color: var(--text-dark);
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 170px;
  margin: 0;
  margin-bottom: 15px;
}

.service-item p {
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 30px;
}

/* Button */

.button {
  display: inline-block;
  width: 240px;
  height: 50px;

  font: inherit;
  font-weight: 500;
  color: var(--basic-white);
  background-color: var(--accent);
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  box-sizing: border-box;

  padding-top: 18px;
  padding-bottom: 18px;
}

.service-item .button {
  width: 160px;
  box-sizing: border-box;
}

.button:hover,
.button:focus {
  background-color: var(--accent-hover);
}

.button:active {
  background-color: var(--accent-press);
  color: rgb(255, 255, 255, 0.3);  
}

.button-app {
  background-color: var(--app);
}

.button-app:hover,
.button-app:focus {
  background-color: var(--app-hover);
}

.button-app:active {
  background-color: var(--app-press);
}

.button-presentation {
  background-color: var(--pres);
}

.button-presentation:hover,
.button-presentation:focus {
  background-color: var(--pres-hover);
}

.button-presentation:active {
  background-color: var(--pres-press);
}

/* Company */

.index-columns {
  display: flex;
  flex-wrap: wrap;
  height: 520px;
  justify-content: space-between;
  border-bottom: 2px solid #EEEEEE;
  box-sizing: border-box;
}

.company {
  max-width: 650px;
  min-height: 415px;
}

.company p:nth-of-type(1) {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--text-dark);
  margin: 75px 0 32px 0;
}

.company p:nth-of-type(2) {
  line-height: 24px;
  margin-bottom: 40px;
}

.company p:nth-of-type(3) {
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.dash-list {
  position: relative;
  list-style: none;
}

.dash-list li {
  line-height: 24px;
  padding-bottom: 24px;
}

.dash-list li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  left: 0;
  margin-top: 10px;
  background-color: var(--accent);
}

.dash-list li:last-child {
  padding: 0;
}

/* Statistics */

.statistics {
  max-width: 360px;
  min-height: 415px;
}

.statistics p {
  margin: 0;
  margin-bottom: 30px;
  color: var(--text-dark);
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

.statistics img {
  width: 360px;
  height: 210px;
  background-color: var(--basic-dark);
  margin-top: 40px;
  margin-bottom: 35px;
}

.statistics-list {
  margin-top: -10px;
  margin-left: -20px;
  border-spacing: 20px 10px;
  text-align: left;
}

.statistics-list td {
  color: var(--text-dark);
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.statistics-list th {
  font-weight: 400;
}

/* Partners */

.partners-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 180px;
  border-bottom: 2px solid #EEEEEE;
  box-sizing: border-box;
  background:
  url(../img/vertical-line.png) 280px center no-repeat,
  url(../img/vertical-line.png) 580px center no-repeat,
  url(../img/vertical-line.png) 880px center no-repeat;
  list-style: none;
  margin: 0;
  padding: 0;
}

.partner-item {
  background: url("../img/vertical-line.png") right center no-repeat;
  opacity: 0.2;
}

.partner-item:hover,
.partner-item:focus {
  opacity: 1;
}

.partner-item:active {
  opacity: 0.1;
}

/* Map */

.footer-map {
  width: 100%;
  height: 416px;
  background-color: var(--basic-dark);
  margin-top: 80px;
  margin-bottom: 70px;
}

/* Social contacts */

.footer-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 70px;
}

.friendship-discount {
  grid-column: 2 / -1;
}

.social-list {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  column-gap: 10px;
  justify-self: start;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-list li {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: var(--social-button) 50% 50% no-repeat;
}

.social-list li:nth-child(1) {
  background-image: url(../img/vk-icon.svg);
  background-size: 26px 15px;
}

.social-list li:nth-child(2) {
  background-image: url(../img/fb-icon.svg);
  background-size: 12px 22px;
}

.social-list li:nth-child(3) {
  background-image: url(../img/insta-icon.svg);
  background-size: 21px 21px;
}

.social-list li:hover,
.social-list li:focus{
  background-color: var(--accent-hover);
}

.social-list li:active {
  background-color: var(--accent-press);
  background-blend-mode: overlay;
}

/* Discount */

.friendship-discount h2 {
  color: var(--text-dark);
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 10px;
}

.friendship-discount p {
  color: var(--text-discount);
  line-height: 22px;
  margin: 0;
}

/* Catalog */

.page-catalog {
  display: grid;
  align-items: center;
  height: 240px;
  background-color: var(--basic-dark);
}

.page-catalog .page-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  color: var(--text-dark);

  margin: 0;
}

.catalog-columns {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: min-content 1fr;
  column-gap: 140px;
}

/* Catalog filters*/

.filters {
  width: 220px;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  padding-top: 55px;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--text-dark);
}

.filter ul {
  list-style: none;
  line-height: 20px;
  padding: 0;
}

.filter-price {
  padding: 0;
  margin: 0;
}

.filter-price p {
  line-height: 22px;
}

.range-filter {
  width: 260px;
  margin-top: 48px;
}

.range-controls {
  position: relative;
  height: 80px;
  background-color: var(--basic-dark);
  border-radius: 3px;
  padding-top: 39px;
  padding-left: 27px;
  padding-right: 27px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.range-controls .scale {
  height: 2px;
  background-color: #D7DCDF;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: var(--app);
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  width: 4px;
  height: 4px;
  border: 8px solid #FFFFFF;
  background-color: #ABABAB;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
}

.price-controls input {
  width: 80px;
  padding: 8px 0;
  color: var(--text);
  text-align: center;
  margin-left: 10px;
  border: none;
  border-radius: 3px;
  background-color: var(--basic-dark);
}

.filter-grid {
  margin: 55px 0 45px 0;
  padding: 0;
}

.filter-features {
  padding: 0;
  margin: 0;
}

.filter-features li,
.filter-grid li {
  padding-bottom: 20px;
}

.filter-features label,
.filter-grid label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  opacity: 0.4;
}

.filter-input-radio:checked + label::before {
  content: "";
  background-image: url(../img/radio-on.svg);
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 25px;
  height: 25px;
  background: url("../img/checkbox-off.svg") no-repeat;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  background: url("../img/checkbox-on.svg") no-repeat;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before,
.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
  opacity: 1;
  cursor: default;
}

.filter-input-radio:disabled + label::before,
.filter-input-radio:disabled + label,
.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:disabled + label {
  opacity: 0.1;
  cursor: default;
}

.sorting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 55px;
  margin-bottom: 50px;
}

.sorting p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--text-dark);
  text-transform: uppercase;

  margin: 0;
}

.sorting ul {
  padding: 0;
  margin: 0;
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-width: 320px;
  list-style: none;
}

.sorting-item {
  margin-right: 25px;
}

.sorting-item a {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--text-dark);
  opacity: 0.2;
}

.sorting-item-dis a:hover,
.sorting-item-dis a:focus {
  opacity: 0.6;
}

.sortingtype-item-dis a:active, 
.sorting-item-act a {
  color: var(--text-dark);
  opacity: 1;
}

.sortingtype-list {
  display: flex;
  justify-content: space-between;
  min-width: 40px;
  list-style: none;
}

.sortingtype-item-dis {
  opacity: 0.2;
}

.sortingtype-item-dis:hover,
.sortingtype-item-dis:focus {
  opacity: 0.6;
}

.sortingtype-item-dis:active, 
.sortingtype-item-act {
  opacity: 1;
}

.sortingtype-item-down a:before {
  content:url("../img/sorting-down.svg");
}

.sortingtype-item-up a:before {
  content: url("../img/sorting-up.svg");
}

/* Catalog buttons */

.filter-button {
  width: 260px;
  height: 50px;

  font-weight: 500;
  text-transform: uppercase;
  color: var(--text-dark);
  background-color: var(--basic-dark);
  border: none;
  border-radius: 3px;
  outline: none;

  margin-top: 50px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--filter-button-hover);
}

.filter-button:active {
  background-color: var(--filter-button-press);
  opacity: 0.3;
}

.product-button {
  width: 200px;
  height: 50px;

  color: var(--basic-white);
  font-weight: 500;
  text-align: center;
  background-color: var(--accent);
  border: none;
  border-radius: 3px;

  margin: 0;
}

.product-button:hover,
.product-button:focus {
  background-color: var(--accent-hover);
  outline: none;
}

.product-button:active {
  background-color: var(--accent-press);
}

/* Products */

.products-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.product-item {
  position: relative;
  width: 360px;
  min-height: 580px;
  padding-top: 40px;
  padding-left: 0;
  margin-right: 35px;
  margin-bottom: 30px;
  background: url("../img/browser-light.svg") no-repeat;
}

.product-item:nth-of-type(even) {
  margin-right: 0;
}

.product-item:hover,
.product-item:focus {
  background: url("../img/browser-dark.svg") no-repeat;
  box-shadow: 5px 5px 10px 0 #EEEEEE;;
}

.product-popup {
  position: absolute;
  z-index: 10;
  bottom: 0;
  
  max-width: 360px;
  height: 230px;

  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  text-align: center;
  
  padding: 0 50px;
  background-color: var(--basic-dark);
}

.product-popup a {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--text-dark);
  padding-top: 25px;
  padding-bottom: 12px;
}

.product-popup a:hover,
.product-popup a:focus {
  color: var(--accent);
}

.product-popup a:active {
  color: var(--text-dark);
  opacity: 0.3;
}

.product-popup p {
  width: 260px;
  color: var(--text-light);
  margin: 0;
  margin-bottom: 32px;
}

/* Pagination */

.pagination-container {
  display: flex;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.pagination-item {
  width: 50px;
  height: 50px;
  background: var(--basic-dark);
  border-radius: 3px;
  margin-right: 10px;
  padding-top: 15px;
  box-sizing: border-box;
}

.pagination-active {
  background-color: transparent;
  border: 3px solid #DBDBDB;
  padding-top: 13px;
}

.pagination-item a,
.pagination-active a {
  font-weight: 500;
  color: var(--text-dark);
}

.pagination-item:hover,
.pagination-item:focus {
  background-color: var(--filter-button-hover);
}

.pagination-item:active {
  background-color: var(--filter-button-press);
}

.pagination-active:hover,
.pagination-active:focus,
.pagination-active:active {
  background-color: transparent;
}

a.disabled {
pointer-events: none;
cursor: default;
}

.page-button {
  width: 260px;
  height: 50px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--text-dark);
  background-color: var(--basic-dark);
  border: none;
  border-radius: 3px;
}

.page-button:hover,
.page-button:focus {
  background-color: var(--filter-button-hover);
  outline: none;
}

.page-button:active {
  background-color: var(--filter-button-press);
  opacity: 0.3;
}