@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
  url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal; 
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
  url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
  url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --basic-dark: #EEEEEE;
  --basic-white: #FFFFFF;

  --social-button: #E1E1E1;
  --accent: #FB565A;
  --accent-hover: #E74246;
  --accent-press: #D7373B;
  --app: #00CA74;
  --app-hover: #00BC6C;
  --app-press: #00AA62;
  --pres: #EFC849;
  --pres-hover: #EAB534;
  --pres-press: #E5A722;
  --filter-button-hover: #DFDFDF;
  --filter-button-press: #D5D5D5;
  
  --browser: #4D4D4D;

  --text-dark: #000000;
  --text: #283136;
  --text-light: #666666;
  --text-discount: #444444;
} 

/* Global */

.page-body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--text);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.active-page {
  border-bottom: 2px solid var(--accent);
  padding-bottom: 17px;
}

/* Grid */

.page {
  height: 100%;
}



/* main-navigation */

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header {
  padding-top: 50px;
  background-color: var(--basic-dark);
}

.main-navigation {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--basic-dark);
}

.main-header-logo {
  height: 66px;
  width: 160px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 436px;

  list-style: none;
  margin: 0;
  margin-left: -45px;
  padding: 0;
  padding-top: 28px;
}

.site-navigation a,
.main-navigation a {
  color: var(--text-dark);
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.site-navigation li {
  min-height: 46px;
  margin-right: 45px;
}

.index-site-navigation li {
  min-height: 30px;
}

.site-navigation li:nth-child(4n) {
  margin: 0;
}

.site-navigation a:hover,
.site-navigation a:focus,
.main-navigation a:hover,
.main-navigation a:focus {
  color: var(--accent);
}

.site-navigation a:active,
.main-navigation a:active {
  color: var(--text-dark);
  opacity: 0.3;
}

.basket {
  padding-top: 28px;
}

.basket a {
  position: relative;
  padding-left: 40px;
}

.basket a::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background: url(../img/basket.svg) no-repeat;
  top: 2px;
  left: 0;
}

/* Slider */

.features {
  background-color: var(--basic-dark);
  margin-bottom: 80px;
}

.features .container {
  position: relative;
}

.features-list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item {
  min-height: 430px;
}

.feature-item:nth-child(1) {
  background: url("../img/slide1.png") no-repeat;
  background-position: 398px center;
}

.feature-item:nth-child(2) {
  background: url("../img/slide2.png") no-repeat;
  background-position: center right;
}

.feature-item:nth-child(3) {
  background: url("../img/slide3.png") no-repeat;
  background-position: center right;
}

.feature-item p {
  max-width: 400px;
}

.feature-item-title {
  color: var(--text-dark);
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;

  margin-top: 0;
  margin-bottom: 25px;
  padding-top: 79px;
}

.feature-item-text {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 39px;
}

.slider-controls {
  position: absolute;
  bottom: 91px;
  right: 542px;
  z-index: 5;
}

.slider-button {
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border-radius: 50%;
  border: none;
  padding: 0;
  margin-right: 13px;
  cursor: pointer;
}

.slider-button.current {
  box-shadow: 
  inset 0 0 0 5px #FFFFFF,
  inset 0 0 0 7px #C1C1C1;
}

.feature-slide {
  display: none;
}

.slide-current {
  display: block;
}

.feature-item .button {
  margin-bottom: 80px;
}

/* Services */

.services {
  border-bottom: 2px solid #EEEEEE;
  box-sizing: border-box;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 425px;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-item {
  padding-right: 40px;
}

.service-item:nth-child(1) {
  background: url("../img/service-web.png") no-repeat;
  background-position: left top;
}

.service-item:nth-child(2) {
  background: url("../img/service-app.png") no-repeat;
  background-position: left top;
}

.service-item:nth-child(3) {
  background: url("../img/service-pres.png") no-repeat;
  background-position: left top;
  margin-right: 40px;
}

.service-item h3 {
  color: var(--text-dark);
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 171px;
  margin: 0;
  margin-bottom: 15px;
}

.service-item p {
  max-width: 260px;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 33px;
  margin: 0;
}

/* Button */

.button {
  display: inline-block;

  font: inherit;
  font-weight: 500;
  color: var(--basic-white);
  background-color: var(--accent);
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  box-sizing: border-box;

  padding: 17px 54px 15px;
}

.service-item .button {
  padding: 17px 40px 15px;
  margin-bottom: 81px;
}

.button:hover,
.button:focus {
  background-color: var(--accent-hover);
}

.button:active {
  background-color: var(--accent-press);
  color: rgb(255, 255, 255, 0.3);  
}

.button-app {
  background-color: var(--app);
}

.button-app:hover,
.button-app:focus {
  background-color: var(--app-hover);
}

.button-app:active {
  background-color: var(--app-press);
}

.button-presentation {
  background-color: var(--pres);
}

.button-presentation:hover,
.button-presentation:focus {
  background-color: var(--pres-hover);
}

.button-presentation:active {
  background-color: var(--pres-press);
}

/* Company */

.index-columns {
  display: flex;
  flex-wrap: wrap;
  min-height: 520px;
  justify-content: space-between;
  border-bottom: 2px solid #EEEEEE;
  box-sizing: border-box;
  padding-bottom: 64px;
}

.company {
  max-width: 650px;
  min-height: 415px;
}

.company p:nth-of-type(1) {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--text-dark);
  margin: 74px 0 32px 0;
}

.company-text {
  line-height: 24px;
  margin-bottom: 40px;
}

.dash-list-title {
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 24px;
}

.dash-list {
  position: relative;
  list-style: none;
  margin: 0;
  padding-left: 36px;
}

.dash-list li {
  line-height: 24px;
  padding-bottom: 24px;
}

.dash-list li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  left: 0;
  margin-top: 10px;
  background-color: var(--accent);
}

.dash-list li:last-child {
  padding: 0;
}

/* Statistics */

.statistics {
  max-width: 360px;
  min-height: 415px;
}

.statistics p {
  margin: 0;
  margin-bottom: 31px;
  color: var(--text-dark);
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

.statistics img {
  width: 360px;
  height: 208px;
  background-color: var(--basic-dark);
  margin-top: 38px;
  margin-bottom: 33px;
  object-fit: contain;
}

.statistics-list {
  width: 360px;
  margin-top: -14px;
  margin-left: -20px;
  border-spacing: 20px 11px;
  text-align: left;
}

.statistics-list td {
  color: var(--text-dark);
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.statistics-list th {
  font-weight: 400;
}

.percent {
  font-size: 26px;
  line-height: 40px;
}

/* Partners */

.partners-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 180px;
  border-bottom: 2px solid #EEEEEE;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

.partner-item {
  position: relative;
  width: 300px;
  text-align: center;
  outline-offset: -2px;
}

.partner-item img {
  display: block;
  object-fit: fill;
}

.partner-item a {
  opacity: 0.2;
}

.partner-item:nth-child(4n),
.partner-item:nth-child(4n+1) {
  width: 280px;
}

.partner-item:first-child img {
  margin-top: 15px;
  margin-right: 12px;
}

.partner-item:last-child img {
  margin-top: 10px;
  margin-left: 18px;
}

.partner-item:not(:nth-child(4n)):not(:last-child)::after { 
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: var(--basic-dark);
  width: 2px;
  height: 52px;
}

.partner-item a:hover,
.partner-item a:focus {
  opacity: 1;
}

.partner-item a:active {
  opacity: 0.1;
}

/* Map */

.footer-map {
  position: relative;
  width: 100%;
  height: 416px;
  background-color: var(--basic-dark);
  margin-top: 49px;
  margin-bottom: 70px;
}

.index-footer-map {
  margin-top: 79px;
}

.footer-map iframe {
  border: none;
  background: url(../img/map.png) no-repeat center;
}

.map-adress-container {
  position: absolute;
  top: 54px;
  left: 50%;
  width: 320px;
  min-height: 310px;
  transform: translateX(-580px);
}

.map-adress {
  width: 319px;
  min-height: 308px;
  background-color: var(--basic-white);
  padding: 50px 40px 47px 50px;
  box-sizing: border-box;
}

.map-adress p {
  margin: 0;
}

.map-adress p:first-child {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.map-adress p:nth-child(2) {
  margin-bottom: 18px;
}

.map-button {
  min-width: 219px;
  margin-top: 38px;
  padding-right: 45px;
  padding-left: 45px;
}

/* Social contacts */

.footer-columns {
  display: grid;
  grid-template-columns: 260px 1fr;
  column-gap: 140px;
  margin-bottom: 70px;
}

.friendship-discount {
  grid-column: 2 / -1;
}

.social-list {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  gap: 10px;
  justify-self: start;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-item {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: var(--social-button) 50% 50% no-repeat;
}

.link-vk {
  background-image: url(../img/vk-icon.svg);
  background-size: 26px 15px;
}

.link-fb {
  background-image: url(../img/fb-icon.svg);
  background-size: 12px 22px;
}

.link-inst {
  background-image: url(../img/insta-icon.svg);
  background-size: 21px 21px;
}

.social-item:hover,
.social-item:focus{
  background-color: var(--accent-hover);
}

.social-item:active {
  background-color: var(--accent-press);
  background-blend-mode: overlay;
}

/* Discount */

.friendship-discount h2 {
  color: var(--text-dark);
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  margin: 6px 0 10px;
}

.friendship-discount p {
  color: var(--text-discount);
  line-height: 22px;
  margin: 0;
}

/* Modal */

.feedback {
  position: fixed;
  bottom: 180px;
  left: 50%;
  margin-left: -480px;
  width: 960px;
  height: auto;
  background-color: var(--basic-white);
  color: var(--text-dark);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  z-index: 5;
}

.feedback textarea {
  height: 118px;
  resize: none;
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 100px;
}

.feedback-item {
  width: 360px;
  margin: 0;
}

.feedback-form label,
.feedback-form .textarea {
  display: block;
  font-weight: 700;
  margin-bottom: 9px;
}

.feedback h2 {
  font-size: 45px;
  font-weight: 700;
  line-height: 53px;
  margin: 63px 0 37px 100px;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
  font: inherit;
  border: 2px solid #D7DCDE;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 16px 14px 16px 16px;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"] {
  width: 360px;
  height: 50px;
  margin-bottom: 34px;
}

.feedback input:hover {
  border-color: #B4B9BB;
}

.feedback input:focus {
  border-color: var(--text-dark),
}

.feedback input:focus::placeholder,
.feedback textarea:focus::placeholder {
  color: #000000;
}

.feedback-button {
  min-height: 50px;
  width: 260px;
  padding: 0;
  padding: 17px 83px;
  border: none;
  margin-top: 47px;
  margin-bottom: 84px;
}

.feedback-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  background: url(../img/close-icon.png) no-repeat;
  padding: 0;
  border: none;
  opacity: 0.3;
}

.feedback-close:hover,
.feedback-close:focus {
  opacity: 1;
}

.feedback-close:active {
  opacity: 0.1
}

.modal-feedback {
  display: none;
}

/* Catalog */

.page-catalog {
  display: grid;
  justify-items: center;
  min-height: 234px;
  background-color: var(--basic-dark);
}

.page-title {
  max-width: 1120px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  color: var(--text-dark);
  padding-top: 71px;
  margin: 0;
}

.catalog-columns {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: min-content 1fr;
  column-gap: 140px;
}

/* Catalog filters*/

.filters {
  width: 220px;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  padding-top: 55px;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--text-dark);
}

.filter ul {
  list-style: none;
  line-height: 20px;
  padding: 0;
}

.filter-price {
  padding: 0;
  margin: 0;
}

.filter-price p {
  line-height: 22px;
}

.range-filter {
  width: 260px;
  margin-top: 48px;
}

.range-controls {
  position: relative;
  height: 80px;
  background-color: var(--basic-dark);
  border-radius: 3px;
  padding-top: 39px;
  padding-left: 27px;
  padding-right: 27px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.range-controls .scale {
  height: 1px;
  background-color: #D7DCDF;
}

.range-controls .bar {
  width: 70%;
  height: 1px;
  background-color: var(--app);
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  width: 3px;
  height: 3px;
  border: 8px solid #FFFFFF;
  background-color: #ABABAB;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
}

.price-controls input {
  max-width: 80px;
  line-height: 22px;
  color: var(--text);
  text-align: center;
  background-color: var(--basic-dark);
  padding: 8px 0 8px 12px;
  margin-left: 9px;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
}

.filter-grid {
  margin: 54px 0 25px 0;
  padding: 0;
}

.filter-features {
  padding: 0;
  margin: 0;
}

.filter-grid ul,
.filter-features ul {
  margin-top: 15px;
  margin-bottom: 0;
}

.filter-features li,
.filter-grid li {
  padding-bottom: 20px;
}

.filter-features label,
.filter-grid label {
  position: relative;
  padding-left: 36px;
  cursor: pointer;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  opacity: 0.4;
}

.filter-input-radio:checked + label::before {
  content: "";
  background-image: url(../img/radio-on.svg);
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 25px;
  height: 25px;
  background: url("../img/checkbox-off.svg") no-repeat;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  background: url("../img/checkbox-on.svg") no-repeat;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before,
.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
  opacity: 1;
  cursor: default;
}

.filter-input-radio:disabled + label::before,
.filter-input-radio:disabled + label,
.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:disabled + label {
  opacity: 0.1;
  cursor: default;
}

.sorting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 54px;
  margin-bottom: 49px;
}

.sorting p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--text-dark);
  text-transform: uppercase;

  margin: 0;
}

.sorting ul {
  padding: 0;
  margin: 0;
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  min-width: 535px;
  list-style: none;
}

.sorting-item {
  margin-right: 25px;
}

.sorting-item a {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--text-dark);
  opacity: 0.2;
}

.sorting-item-dis a:hover,
.sorting-item-dis a:focus {
  opacity: 0.6;
}

.sortingtype-item-dis a:active, 
.sorting-item-act a {
  color: var(--text-dark);
  opacity: 1;
}

.sortingtype-list {
  display: flex;
  justify-content: space-between;
  min-width: 40px;
  list-style: none;
}

.sortingtype-item-dis {
  opacity: 0.2;
}

.sortingtype-item-dis:hover,
.sortingtype-item-dis:focus {
  opacity: 0.6;
}

.sortingtype-item-dis:active, 
.sortingtype-item-act {
  opacity: 1;
}

.sortingtype-item-down a:before {
  content:url("../img/sorting-down.svg");
}

.sortingtype-item-up a:before {
  content: url("../img/sorting-up.svg");
}

/* Catalog buttons */

.filter-button {
  width: 260px;
  min-height: 50px;

  font-weight: 500;
  text-transform: uppercase;
  color: var(--text-dark);
  background-color: var(--basic-dark);
  border: none;
  border-radius: 3px;
  padding: 17px 50px 15px;
  box-sizing: border-box;

  margin-top: 30px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--filter-button-hover);
}

.filter-button:active {
  background-color: var(--filter-button-press);
  opacity: 0.3;
}

.product-button {
  width: 200px;
  min-height: 50px;

  color: var(--basic-white);
  font-weight: 500;
  text-align: center;
  background-color: var(--accent);
  border: none;
  border-radius: 3px;

  padding: 15px 50px;
  margin: 0;
  margin-bottom: 44px;
}

.product-button:hover,
.product-button:focus {
  background-color: var(--accent-hover);
}

.product-button:active {
  background-color: var(--accent-press);
}

/* Products */

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 22px;
}

.product-item {
  position: relative;
  width: 360px;
  height: 580px;
  padding-top: 40px;
  padding-left: 0;
  margin-right: 35px;
  margin-bottom: 30px;
  background: url("../img/browser-light.svg") no-repeat;
}

.product-item:nth-of-type(even) {
  margin-right: 0;
}

.product-item:hover,
.product-item:focus {
  background: url("../img/browser-dark.svg") no-repeat;
  box-shadow: 0 6px 15px 0 #EEEEEE;;
}

.product-popup {
  position: absolute;
  z-index: 10;
  bottom: 0;
  
  max-width: 360px;
  min-height: 229px;

  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  text-align: center;
  
  padding: 0 53px;
  box-sizing: border-box;
  background-color: var(--basic-dark);
}

.product-popup a {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--text-dark);
  padding-top: 26px;
  padding-bottom: 12px;
  box-sizing: border-box;
}

.product-popup a:hover,
.product-popup a:focus {
  color: var(--accent);
}

.product-popup a:active {
  color: var(--text-dark);
  opacity: 0.3;
}

.product-popup p {
  width: 260px;
  color: var(--text-light);
  margin: 0;
  margin-bottom: 35px;
}

.popup-hidden {
  display: none;
}

.product-item:hover .product-popup,
.product-item:focus .product-popup{
  display: flex;
}

/* Pagination */

.pagination-container {
  display: flex;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.pagination-item {
  width: 50px;
  height: 50px;
  background: var(--basic-dark);
  border-radius: 3px;
  margin-right: 11px;
  margin-bottom: 10px;
  padding: 17px 20px 15px;
  box-sizing: border-box;
}

.pagination-active {
  background-color: transparent;
  border: 3px solid #DBDBDB;
  padding-top: 14px;
  padding-left: 18px;
  box-sizing: border-box;
}

.pagination-item a,
.pagination-active a {
  font-weight: 500;
  color: var(--text-dark);
}

.pagination-item:hover,
.pagination-item:focus {
  background-color: var(--filter-button-hover);
}

.pagination-item:active {
  background-color: var(--filter-button-press);
}

.pagination-active:hover,
.pagination-active:focus,
.pagination-active:active {
  background-color: transparent;
}

a.disabled {
pointer-events: none;
cursor: default;
}

.page-button {
  min-width: 260px;
  height: 50px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--text-dark);
  background-color: var(--basic-dark);
  border: none;
  border-radius: 3px;
  padding: 17px 20px 15px;
  box-sizing: border-box;
}

.page-button:hover,
.page-button:focus {
  background-color: var(--filter-button-hover);
}

.page-button:active {
  background-color: var(--filter-button-press);
  opacity: 0.3;
}