@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
  url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal; 
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
  url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
  url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --basic-dark: #EEEEEE;
  --basic-white: #FFFFFF;

  --social-button: #E1E1E1;
  --accent: #FB565A;
  --accent-hover: #E74246;
  --accent-press: #D7373B;
  --app: #00CA74;
  --app-hover: #00BC6C;
  --app-press: #00AA62;
  --pres: #EFC849;
  --pres-hover: #EAB534;
  --pres-press: #E5A722;
  --filter-button-hover: #DFDFDF;
  --filter-button-press: #D5D5D5;
  
  --browser: #4D4D4D;

  --text-dark: #000000;
  --text: #283136;
  --text-light: #666666;
  --text-discount: #444444;
} 

/* Global */

.page-body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--text);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.active-page {
  border-bottom: 2px solid var(--accent);
  padding-bottom: 5px;
}

/* Grid */

.page {
  height: 100%;
}

/* main-navigation */

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header {
  background-color: var(--basic-dark);
}

.main-navigation {
  display: grid;
  grid-template-columns: 160px 1fr min-content;
  background-color: var(--basic-dark);
}

.site-navigation {
  list-style: none;
}

.site-navigation a,
.main-navigation a {
  color: var(--text-dark);
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.site-navigation a:hover,
.site-navigation a:focus,
.main-navigation a:hover,
.main-navigation a:focus {
  color: var(--accent);
}

.site-navigation a:active,
.main-navigation a:active {
  color: var(--text-dark);
  opacity: 0.3;
}

.basket {
  background: url(../img/basket.svg) left top no-repeat;
  background-size: 15px 15px;
}

.basket a {
  margin-left: 40px;
}

/* Slider */

.features {
  background-color: var(--basic-dark);
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item {
  height: 430px;
}

.feature-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: center right;
}

.feature-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: center right;
}

.feature-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: center right;
}

.feature-item p:nth-child(1) {
  color: var(--text-dark);
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin-top: 0;
}

.feature-item p:nth-child(2) {
  font-size: 16px;
  line-height: 24px;
}

/* Services */

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  margin: 80px 0;
  padding: 0;
  list-style: none;
}

.service-item {
  padding-right: 40px;
}

.service-item:nth-child(1) {
  background: var(--basic-dark) url("../img/service-web.png") no-repeat;
  background-position: left top;
}

.service-item:nth-child(2) {
  background: var(--basic-dark) url("../img/service-app.png") no-repeat;
  background-position: left top;
}

.service-item:nth-child(3) {
  background: var(--basic-dark) url("../img/service-pres.png") no-repeat;
  background-position: left top;
  margin-right: 40px;
}

.service-item h3 {
  color: var(--text-dark);
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 160px;
  margin: 0;
}

.service-item p {
  font-size: 16px;
  line-height: 24px;
}

/* Button */

.button {
  font: inherit;
  font-weight: 500;
  color: var(--basic-white);
  background-color: var(--accent);
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}

.button:hover,
.button:focus {
  background-color: var(--accent-hover);
}

.button:active {
  background-color: var(--accent-press);
}

.button-app {
  background-color: var(--app);
}

.button-app:hover,
.button-app:focus {
  background-color: var(--app-hover);
}

.button-app:active {
  background-color: var(--app-press);
}

.button-presentation {
  background-color: var(--pres);
}

.button-presentation:hover,
.button-presentation:focus {
  background-color: var(--pres-hover);
}

.button-presentation:active {
  background-color: var(--pres-press);
}

/* Company */

.index-columns {
  display: grid;
  grid-template-columns: 1fr 360px;
  gap: 150px;
}

.company p:nth-of-type(1) {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--text-dark);
}

.company p:nth-of-type(2) {
  line-height: 24px;
}

.company p:nth-of-type(3) {
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.dash-list {
  list-style: none;
}

.dash-list li {
  list-style-image: url(../img/dash.svg);
  line-height: 24px;
}

/* Statistics */

.statistics {
  justify-self: right;
}

.statistics p {
  color: var(--text-dark);
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.statistics img {
  background-color: var(--basic-dark);
}

.statistics-list td {
  color: var(--text-dark);
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.statistics-list th {
  font-weight: 400;
}

/* Partners */

.partners-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  justify-items: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.partner-item {
  opacity: 0.2;
}

.partner-item:hover,
.partner-item:focus {
  opacity: 1;
}

.partner-item:active {
  opacity: 0.1;
}

/* Map */

.footer-map {
  width: 100%;
  height: 416px;
  background-color: var(--basic-dark);
  margin-top: 60px;
  margin-bottom: 70px;
}

/* Social contacts */

.footer-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.friendship-discount {
  grid-column: 2 / -1;
}

.social-list {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  column-gap: 10px;
  justify-self: start;
  list-style: none;
  padding: 0;
}

.social-list li {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: var(--social-button) 50% 50% no-repeat;
}

.social-list li:nth-child(1) {
  background-image: url(../img/vk-icon.svg);
  background-size: 26px 15px;
}

.social-list li:nth-child(2) {
  background-image: url(../img/fb-icon.svg);
  background-size: 12px 22px;
}

.social-list li:nth-child(3) {
  background-image: url(../img/insta-icon.svg);
  background-size: 21px 21px;
}

.social-list li:hover,
.social-list li:focus{
  background-color: var(--accent-hover);
}

.social-list li:active {
  background-color: var(--accent-press);
  background-blend-mode: overlay;
}

/* Discount */

.friendship-discount h2 {
  color: var(--text-dark);
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.friendship-discount p {
  color: var(--text-discount);
  line-height: 22px;
}

/* Catalog */

.page-catalog {
  display: grid;
  align-items: center;
  height: 240px;
  background-color: var(--basic-dark);
}

.page-catalog .page-title {
  margin: 0;
  text-align: center;
}

.catalog-columns {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: min-content 1fr;
  column-gap: 40px;
}

.filters {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  padding-top: 55px;
}

.filter-grid {
  margin-top: 55px;
  margin-bottom: 45px;
}

.sorting ul {
  padding: 0;
}

/* Catalog filters*/

.page-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--text-dark);
}

.filter legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--text-dark);
}

.filter-price p {
  line-height: 22px;
}

.filter ul {
  list-style: none;
  line-height: 19px;
  padding: 0;
}

.filter-input {
  opacity: 0.4;
}

.filter-input:hover,
.filter-input:focus {
  opacity: 1;
}

.filter-input:disabled {
  opacity: 0.1;
}

.filter-input:disabled + label {
  opacity: 0.3;
}

.sorting {
  padding-top: 55px;
  padding-bottom: 55px;
}

.sorting p {
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--text-dark);
}

.sorting-list {
  list-style: none;
}

.sorting-item a {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--text-dark);
  opacity: 0.2;
}

.sorting-item-dis a:hover,
.sorting-item-dis a:focus {
  opacity: 0.6;
}

.sortingtype-item-dis a:active, 
.sorting-item-act a {
  color: var(--text-dark);
  opacity: 1;
}

.sortingtype-list {
  list-style: none;
}

.sortingtype-item-dis {
  opacity: 0.2;
}

.sortingtype-item-dis:hover,
.sortingtype-item-dis:focus {
  opacity: 0.6;
}

.sortingtype-item-dis:active, 
.sortingtype-item-act {
  opacity: 1;
}

.sortingtype-item-down a:before {
  content:url("../img/sorting-down.svg");
}

.sortingtype-item-up a:before {
  content: url("../img/sorting-up.svg");
}

/* Catalog buttons */

.filter-button {
  font-weight: 500;
  text-transform: uppercase;
  color: var(--text-dark);
  background-color: var(--basic-dark);
  border: none;
  border-radius: 3px;

  margin-top: 50px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--filter-button-hover);
}

.filter-button:active {
  background-color: var(--filter-button-press);
  opacity: 0.3;
}

.product-button {
  background-color: var(--accent);
  color: var(--basic-white);
  font-weight: 500;
  text-align: center;
  border: none;
}

.product-button:hover,
.product-button:focus {
  background-color: var(--accent-hover);
}

.product-button:active {
  background-color: var(--accent-press);
}

/* Products */

.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 30px;
  list-style: none;
  padding: 0;
}

.product-item {
  padding-top: 40px;
  padding-left: 0;
  background: url("../img/browser-light.svg") no-repeat;
}

.product-item:hover,
.product-item:focus {
  background: url("../img/browser-dark.svg") no-repeat;
  box-shadow: 5px 5px 10px 0 #EEEEEE;;
}

.product-popup {
  display: table-cell;
  width: 360px;
  height: 230px;
  background-color: var(--basic-dark);
  text-align: center;
  vertical-align: middle;
}

.product-popup a {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--text-dark);
}

.product-popup a:hover,
.product-popup a:focus {
  color: var(--accent);
}

.product-popup a:active {
  color: var(--text-dark);
  opacity: 0.3;
}

.product-popup p {
  color: var(--text-light);
}

/* Pagination */

.pagination-list {
  list-style: none;
}

.pagination-item a {
  background: var(--basic-dark);
  font-weight: 500;
  color: var(--text-dark);
  border-radius: 3px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: var(--filter-button-hover);
}

.pagination-item a:active {
  background-color: var(--filter-button-press);
  opacity: 0.3;
}

.pagination-item-active a,
.pagination-item-active a:hover, 
.pagination-item-active a:focus,
.pagination-item-active a:active {
  background-color: rgba(0, 0, 0, 0.0001);
  border: 3px solid #DBDBDB;
  border-radius: 3px;
}

.page-button {
  font-weight: 500;
  text-transform: uppercase;
  color: var(--text-dark);
  background-color: var(--basic-dark);
  border: none;
  border-radius: 3px;
}

.page-button:hover,
.page-button:focus {
  background-color: var(--filter-button-hover);
}

.page-button:active {
  background-color: var(--filter-button-press);
  opacity: 0.3;
}